#Eclipse
.classpath
.project
/bin/
/.settings/

#IntelliJ
*.iml
*.ipr
*.iws
.idea/
/out/

#gradle
gradle/
gradlew
gradlew.bat
/.gradle/
/build/

#app
applicationPid
/config/
/test/
/logs/
*.log
/captureScreen/
NOA打卡.js
/debugger.conf
/debug_server_conf.json
